<li class="geek {{geek['pole'] }}" id="{{geek['name']}}">
<img src="/images/geeks/{{geek['name']}}.png" alt="{{geek['name']}}" title="{{geek['name']}}" />
<form action="save" method="post" >
  <input type="hidden" name="x" value="{{geek['x']}}" />
  <input type="hidden" name="y" value="{{geek['y']}}" />
  <input type="hidden" name="z" value="{{geek['z']}}" />
  <input type="hidden" name="name" value="{{geek['name']}}" />
  <input type="hidden" name="text" value="{{geek['text']}}" />
</form>
</li>
