[submodule "vendor/Socket.IO-node"]
	path = vendor/Socket.IO-node
	url = git://github.com/virtuo/Socket.IO-node.git
[submodule "vendor/rest-mongo"]
	path = vendor/rest-mongo
	url = git://github.com/AF83/rest-mongo.git
[submodule "vendor/js_client/jquery.drag_resize"]
	path = vendor/js_client/jquery.drag_resize
	url = git://github.com/virtuo/jquery.drag_resize.git
[submodule "vendor/js_client/jquery.px2percent"]
	path = vendor/js_client/jquery.px2percent
	url = git://github.com/virtuo/jquery.px2percent.git
[submodule "vendor/js_client/jquery.mousewheel"]
	path = vendor/js_client/jquery.mousewheel
	url = git://github.com/brandonaaron/jquery-mousewheel.git
[submodule "vendor/node-irc"]
	path = vendor/node-irc
	url = git://github.com/martynsmith/node-irc.git
[submodule "vendor/nodetk"]
	path = vendor/nodetk
	url = git://github.com/AF83/nodetk.git
[submodule "vendor/js_client/sammy"]
	path = vendor/js_client/sammy
	url = git://github.com/quirkey/sammy.git
[submodule "vendor/js_client/ajax-upload"]
	path = vendor/js_client/ajax-upload
	url = git://github.com/valums/ajax-upload.git
[submodule "vendor/connect"]
	path = vendor/connect
	url = git://github.com/senchalabs/connect.git
[submodule "vendor/mustache.js"]
	path = vendor/mustache.js
	url = git://github.com/janl/mustache.js.git
[submodule "vendor/jquery.mustache"]
	path = vendor/jquery.mustache
	url = git://github.com/AF83/jquery.mustache.git
[submodule "vendor/connect-form"]
	path = vendor/connect-form
	url = git://github.com/visionmedia/connect-form.git
[submodule "vendor/node-formidable"]
	path = vendor/node-formidable
	url = git://github.com/felixge/node-formidable.git
