%form{ method:"post", action:"#/geeks/" + geek.id }
  #upload_avatar
    %img{ src:geek.avatar_fname && ("/public/images/geeks/" + geek.avatar_fname) || "/public/images/smiley.png"}
  %label{}
    Name:
    %input{ type:"text", name:"name", value:geek.name }
  %label{}
    Nickname:
    %input{ type:"text", name:"nickname", value:geek.nickname}
  %label{}
    Pole:
    %input{ type:"text", name:"pole", value:geek.pole }
  %input{ type:"submit", value:"Save" }

