!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title Geeks
    %link{type: "text/css", rel: "stylesheet", href: "/public/css/map.css"}
    %link{type: "text/css", rel: "stylesheet", href: "/public/css/irc_url.css"}
    %link{type: "text/css", rel: "stylesheet", href: "/public/css/input_box.css"}
  %body
    %div.header
      %ul.toBeExtended
        %li
          %a.tool.as_dialog{ href:"#/geeks/new" } + new geek
      .englobe
        #irc_urls
          %p.text
            URLs posted on IRC:
          %ul
        %p.image Feedz Da Geeks
    != body
    #events
    #input-box
    %div.footer
    %script{type: "text/javascript", src:"/public/js/jquery-1.4.js"}
    %script{type: "text/javascript", src:"/public/js2/sammy.js"}
    %script{type: "text/javascript", src:"/public/js/events.js"}
    %script{type: "text/javascript", src:"/public/js2/jquery.mousewheel.js"}
    %script{type: "text/javascript", src:"/public/js2/jquery.drag_resize.js"}
    %script{type: "text/javascript", src:"/public/js2/jquery.px2percent.js"}
    %script{type: "text/javascript", src:"/public/js2/ajax-upload.js"}
    %script{type: "text/javascript", src:"/public/js/routes.js"}
    %script{type: "text/javascript", src:"/public/js/map.js"}
    %script{type: "text/javascript", src:"/public/js/init.js"}
    
    %script{type: "text/javascript", src:"/init_browser.js"}
    %script{type: "text/javascript", src:"/yabble.js"}
    :javascript 
      require.reset();
      require.useScriptTags();
      require.setModuleRoot('wrapped_js/');
      require.ensure([
        'sys',
        'events',
        //
        'schema',
        //
        'rest-mongo/core',
        'rest-mongo/http_rest/jquery_backend',
        'nodetk/logging',
        'nodetk/orchestration/callbacks',
        'nodetk/utils',
      ], function(require) {
        var schema = require('schema').schema;
        var backend = require('rest-mongo/http_rest/jquery_backend').get_backend();
        var RFactory = require('rest-mongo/core').getRFactory(schema, backend);
        R = RFactory();
        init_geeks();
      });
    
