<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Geeks</title>
  <!-- 
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
    -->
</head>
<body>
    <p>header.</p>
    {{{body}}}
    <div id="events"></div>
    <p>footer.</p>
    <script src="js/jquery-1.4.js"></script>
    <script type="text/javascript">
        function poll(){
            $.getJSON('/events', function(geek){
                $('#events').append('<div>' + geek.name + '</div>');
                poll();
            })
        };
        poll();
    </script>
</body>
</html>
