!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title Geeks
    %link{type: "text/css", rel: "stylesheet", href: "/public/css/map.css"}
    %link{type: "text/css", rel: "stylesheet", href: "/public/css/irc_url.css"}
    %link{type: "text/css", rel: "stylesheet", href: "/public/css/input_box.css"}
  %body
    %ul
      %li
        %a.tool.as_dialog{ href:"#/geeks/new" } new geek
    #irc_urls
      URLs posted on IRC:
      %ul
    != body
    #events
    #input-box
    %p footer.
    %script{type: "text/javascript", src:"/public/js/jquery-1.4.js"}
    %script{type: "text/javascript", src:"/public/js2/sammy.js"}
    %script{type: "text/javascript", src:"/public/js/events.js"}
    %script{type: "text/javascript", src:"/public/js2/jquery.mousewheel.js"}
    %script{type: "text/javascript", src:"/public/js2/jquery.drag_resize.js"}
    %script{type: "text/javascript", src:"/public/js2/jquery.px2percent.js"}
    %script{type: "text/javascript", src:"/public/js/routes.js"}
    %script{type: "text/javascript", src:"/public/js/map.js"}
    %script{type: "text/javascript", src:"/public/js/init.js"}

