!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title Geeks
    %link{ type: "text/css", rel: "stylesheet", href: "/public/js/development-bundle/themes/base/ui.all.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/public/js/development-bundle/themes/sunny/ui.all.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/public/css/sunny/jquery-ui-1.7.2.custom.css" }
  %body
    %ul
      %li
        %a.tool.as_dialog{ href:"/geek/new" } new geek
    != body
    #events
    %p footer.
    %script{type: "text/javascript", src:"/public/js/jquery-1.4.js"}
    %script{type: "text/javascript", src:"/public/js/jquery-ui-1.7.2.custom.min.js"}
    %script{type: "text/javascript", src:"/public/js/dialog.js"}
    %script{type: "text/javascript", src:"/public/js/init.js"}
