%img{src:"/public/images/geek_Mascotte.png"}
%form{ method:"post", action:"#/geeks" }
  %input{ type:"text", name:"name", value:"name" }
  %input{ type:"text", name:"nickname", value:"nickname" }
  %input{ type:"text", name:"pool", value:"pool" }
%input{ type:"submit", value:"create" }

