%img{ src:"/public/images/geek_Mascotte.png" }
%form{ method:"post", action:"#/geeks" }
  %input{ type:"text", name:"name", value:"Name", title:"Name" }
  %input{ type:"text", name:"nickname", value:"Nickname", title:"Nickname" }
  %input{ type:"text", name:"pole", value:"Pool", title:"Pool" }
  %input{ type:"submit", value:"create" }

