%img{ src:"/public/images/geek_Mascotte.png" }
%form{ method:"post", action:"#/geeks" }
  %input{ type:"text", name:"name", value:"", title:"Name", placeholder:"Name" }
  %input{ type:"text", name:"nickname", value:"", title:"Nickname", placeholder:"Nickname" }
  %input{ type:"text", name:"pole", value:"", title:"Pool", placeholder:"Pool" }
  %input{ type:"submit", value:"create" }

