
#input-box {
  position: fixed;
  bottom: 1px;
  left: 1px;
  border:1px solid black;
  max-width: 200px;
  max-height: 300px;
  z-index: 10;
  background-color: white;
  display: none;
}

#input-box label,
#input-box input {
 display: block; 
}

#input-box input[type=submit] {
  display: inline;
}

#upload_avatar img {
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
}

#upload_avatar {
  text-align: center;
  cursor: pointer;
}

